<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">

<th:block layout:fragment="extraHead">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
    <script src="/js/modal.js"></script>
</th:block>

<div layout:fragment="mainContent">
    <div class="row-box">
        <div class="col-boxes-1">
            <div class="col-table">
                <div class="table-section">
                    <div class="header-table">
                        <h2>Alla hundar</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="listbutton" href="/newcustomer">
        <span class="fas fa-plus mr-2"></span>
        Ny hund
    </a>
    <br/><br/>

    <form method="GET" th:action="@{/admin/dogs}">
        Search:
        <input type="text" name="q" value="" />
        <button type="submit">Search</button>
    </form>

    <table class="tabulator-table">
        <thead>
        <tr class="tabulator-row">
            <th class="tabulator-cell">
                Name
                <a href="?sort=name&dir=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                <a href="?sort=name&dir=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
            </th>

            <th>
                Breed
                <a href="?sort=breed&dir=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                <a href="?sort=breed&dir=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
            </th>

            <th>
                Age
                <a href="?sort=age&dir=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                <a href="?sort=age&dir=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
            </th>

            <th>
                Size
                <a href="?sort=size&dir=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                <a href="?sort=size&dir=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
            </th>

            <th>
                Price
                <a href="?sort=price&dir=asc"><i class="fa-solid fa-arrow-up-a-z"></i></a>
                <a href="?sort=price&dir=desc"><i class="fa-solid fa-arrow-down-z-a"></i></a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tablerows">
        <tr th:each="dog : ${dogs}">
            <td th:text="${dog.getName()}"></td>
            <td th:text="${dog.getBreed()}"></td>
            <td th:text="${dog.getAge()}"></td>
            <td th:text="${dog.getSize()}"></td>
            <td th:text="${dog.getPrice()}"></td>
            <td>
                <a class="listbutton">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
